<% task = Task.find(@actor_id[0])  %>
<h3><%= "#{task.course_title} - #{task.assignment_title}"  %></h3>
<%= "@percentage_of_empty_comments = #{@percentage_of_empty_comments}%" %></br>
<%= "@avg_of_non_empty_comment_length = #{@avg_of_non_empty_comment_length}" %></br>
<%= "@report.num_sentences = #{@report.num_sentences}" %></br>
<%= "@report.num_words = #{@report.num_words}" %></br>
<%= "@report.num_syllables = #{@report.num_syllables}" %></br>
<%= "@report.report = #{@report.report}" %></br>